
@{
    ViewBag.Title = "Photography";
}

<h2 style="text-align:center">Photography Index</h2>

<h3 style="text-align:center"><i>Featured Photographs</i></h3>

<div style="align-self:center; width:400px" id="featured-carousel" class="carousel slide" data-ride="carousel" data-pause="hover">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#featured-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#featured-carousel" data-slide-to="1"></li>
        <li data-target="#featured-carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/PhotographFiles/DSC02470.jpg" width="400" alt="Fat Squirrel">
            <div class="carousel-caption">
                <h6>Centerparcs - Fat Squirrel</h6>
            </div>
        </div>
        <div class="item">
            <img src="~/PhotographFiles/DSC02607.jpg" width="400" alt="Owl Viewing">
            <div class="carousel-caption">
                <h6>Centerparks - Owl Viewing</h6>
            </div>
        </div>
        <div class="item">
            <img src="~/PhotographFiles/DSC02738.jpg" width="400" alt="Squirrel Close-up">
            <div class="carousel-caption">
                <h6>Centerparcs - Squirrel Close-up</h6>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#featured-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#featured-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div> <!-- Carousel -->

