@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Silver Projects</h1>
    <p class="lead">Hello and welcome to Silver Projects. This website is the online showcase of all of my completed projects in photography and programming.</p>
    <p>In addition to being the home of my projects, the website itself is also a project, as I have also created this too using Visual Studio 2013, utilising 
    ASP.NET/MVC 5.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Photography</h2>
        <p>
            My photography work spans the alphabet of themes, from Architecture to Zoo Visits. Click below to go to the Photography portal where you will be able 
            to view my latest submissions, and search through my catalogue of work by titles, tags and categories.
        </p>
        <p><a class="btn btn-default" href="~/Photography/Index">Photography &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Programming</h2>
        <p>My programming is all done in C# using Visual Studio 2013. As I complete projects they will be hosted here with links to the source code on <a href="https://github.com/">GitHub</a>, 
        and if applicable a web version to test out as part of this site. Click below to go to the Programming Portal, where you can view all my completed projects.</p>
        <p><a class="btn btn-default" href="~/Programming/Index">Programming &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Miscellaneous</h2>
        <p>Eventually, I am going to want to showcase something that doesn't fall into the previous two categories. This section will be where they will be hosted when the time arises.</p>
        <p><a class="btn btn-default" href="~/Misc/Index">Miscellaneous &raquo;</a></p>
    </div>
</div>